

.ng-touched.ng-invalid {
    border: 1px solid red;
}

.navbar {
    background: #004d99;
}
a {
    color: white;
}

.router-link-active{
    color: black;
    background: #004080;
    border-radius: 5px;
}

.onHover{
    cursor: crosshair;
}

.posts{
    border: solid 1px white;
    border-radius: 3px;
    padding: 0;
}

i:hover{
    color: #00ffcc;
}

ul:hover{
    color: white;
}